<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 	<!--  <settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
-->
    <typeAliases>
        <typeAlias type="com.example.mub.model.member.Member" alias="member"/>
        <typeAlias type="com.example.mub.model.board.Board" alias="board"/>
        <typeAlias type="com.example.mub.model.comments.Comments" alias="comments"/>
        <typeAlias type="com.example.mub.model.artist.Artist" alias="artist"/>
        <typeAlias type="com.example.mub.model.music.Music" alias="music"/>
        <typeAlias type="com.example.mub.model.file.MusicFile" alias="musicfile"/>
        <typeAlias type="com.example.mub.model.file.ImageFile" alias="imagefile"/>
        <typeAlias type="com.example.mub.model.wishlist.Wishlist" alias="wishlist"/>
    </typeAliases>
    
   
    
</configuration>
