<!DOCTYPE html>
<html>
<!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <a class="sidebar-brand" href="/">
				  <img src="/assets/img/mub/mub_logo.png" 
				  style="height: 250px; padding: 2px; position: relative; right: 20px; top: -15px;" alt="logo" />
				</a>
              </span>
              
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>
          
          <ul class="menu-inner py-1">
            <!-- 홈으로 -->
            <li class="menu-item" th:classappend="${#httpServletRequest.requestURI == '/' ? 'active' : ''}">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">메인화면</div>
              </a>
            </li>

            <!-- User -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Layouts">유저</div>
              </a>
              <ul class="menu-sub">
				<li class="menu-item" th:if="${session.loginMember}"
					th:classappend="${#httpServletRequest.requestURI == '/member/update' ? 'active' : ''}">
                  <a href="/member/update" class="menu-link">
					   <i class="menu-icon tf-icons bx bxs-user-detail"></i>
                    <div data-i18n="Without menu">내 정보</div>
                  </a>
                </li>
                <li class="menu-item" th:unless="${session.loginMember}">
                  <a href="/member/signup" class="menu-link">
					   <i class="menu-icon tf-icons bx bx-user-plus"></i>
                    <div data-i18n="Without menu">회원가입</div>
                  </a>
                </li>
                <li class="menu-item" th:unless="${session.loginMember}">
                  <a href="/member/login" class="menu-link">
					  <i class="menu-icon tf-icons bx bx-log-in-circle"></i>
                    <div data-i18n="Without navbar">로그인</div>
                  </a>
                </li>
                <li class="menu-item" th:if="${session.loginMember}">
                  <a href="/member/logout" class="menu-link">
					  <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
                    <div data-i18n="Container">로그아웃</div>
                  </a>
                </li>         
              </ul>
            </li>


			<!-- 게시판 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">게시판</span>
            </li>
            
			<!-- 공지사항 -->
			<li class="menu-item" 
				th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'NOTICE' ? 'active' : ''}">
			  <a href="/board/list?board_category=NOTICE" class="menu-link">
			    <i class="menu-icon tf-icons bx bx-table"></i>
			    <div data-i18n="Tables">공지사항</div>
			  </a>
			</li>
			<!-- 새소식 -->
			<li class="menu-item" 
				th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'NEWS' ? 'active' : ''}">
			  <a href="/board/list?board_category=NEWS" class="menu-link">
			    <i class="menu-icon tf-icons bx bx-table"></i>
			    <div data-i18n="Tables">새소식</div>
			  </a>
			</li>
			<!-- 장르 커뮤니티 -->
			<li class="menu-item" 
				th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'BALLAD' ? 'active' : ''}">
			  <a href="javascript:void(0);" class="menu-link menu-toggle">
			    <i class="menu-icon tf-icons bx bx-dock-top"></i>
			    <div data-i18n="Account Settings">장르 커뮤니티</div>
			  </a>
			  <ul class="menu-sub">
			    <!-- 발라드 -->
			    <li class="menu-item" 
			    	th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'BALLAD' ? 'active' : ''}">
			      <a href="/board/list?board_category=BALLAD" class="menu-link">
			        <div data-i18n="Account">발라드</div>
			      </a>
			    </li>
                <li class="menu-item" 
                	th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'DANCE' ? 'active' : ''}">
                  <a href="/board/list?board_category=DANCE" class="menu-link">
                    <div data-i18n="Notifications">댄스</div>
                  </a>
                </li>
                <li class="menu-item" 
                	th:classappend="${#httpServletRequest.requestURI.startsWith('/board/list') && #httpServletRequest.getParameter('board_category') == 'RAP_HIPHOP' ? 'active' : ''}">
                  <a href="/board/list?board_category=RAP_HIPHOP" class="menu-link">
                    <div data-i18n="Connections">랩/힙합</div>
                  </a>
                </li>
              </ul>
            </li>
            
            
            
            <!-- 아티스트 -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">아티스트</span></li>
            <li class="menu-item"
            	th:classappend="${#httpServletRequest.requestURI == '/artist/artist-home' ? 'active' : ''}">
				<a href="/artist/artist-home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-crown"></i>
                <div data-i18n="Boxicons">아티스트</div>
              </a>
            </li>
          

           
            <!-- Music -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">음악</span></li>
            <li class="menu-item"
            	th:classappend="${#httpServletRequest.requestURI == '/music/music-home' ? 'active' : ''}">
              <a href="/music/music-home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">음악</div>
              </a>
            </li>
            <li class="menu-item" th:if="${session.loginMember}"
            	th:classappend="${#httpServletRequest.requestURI == '/music/my-music' ? 'active' : ''}">
              <a href="/music/my-music" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">내 찜 리스트</div>
              </a>
            </li>
            
          
      
            <!-- 임시 -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">임시</span></li>
            <li class="menu-item">
              <a
                href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Documentation">설명서</div>
              </a>
            </li>
            
            <li class="menu-item">
              <a href="/blank-page" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Boxicons">blank-page</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->
</html>