<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mud.repository.commentMapper">
 
 <select id="findAllArtists" resultType="artist">
   select * from artist
 </select>
 
 <select id="findArtistByName" resultType="artist">
   select * from artist where 
   <if test="artist_name != null">
   artist_name = like '%' || #{artist_name} || '%'
   </if>
   
 </select>
 
 
 
</mapper>