<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mud.repository.BoardMapper">
  <insert id="saveBoard">
   <selectKey keyProperty="board_id" resultType="Long" order="BEFORE">
     select id_seq.nextval from dual
   </selectKey>
   insert into board(
     board_id,
     board_category,
     board_title,
     board_member,
     board_content,
     board_edit_time,
     board_hit
     ) values (
       #{board_id},
       #{board_category},
       #{board_title},
       #{board_member},
       #{board_content},
       #{board_edit_time},
       #{board_hit}
     )
  </insert>
  
  <select id="findAllBoards" resultType="board">
    select * from board
  </select>
  
  <select id="findBoard" resultType="board" >
    select * from board where 
    <if test="board_id != null">
    board_id = like '%' || #{board_id} || '%'
    </if>
    <if test="board_member != null">
    or board_member = like '%' || #{board_member} || '%'
    </if>
    <if test="board_content != null">
     or board_content = like '%' || #{board_content} || '%'
    </if>
  </select>
  
  <update id="updateBoard">
    update board
    <set>
    	<if test="board_category != null">board_category = #{board_category},</if>
    	<if test="board_title != null">board_title = #{board_title},</if>
    	<if test="board_content != null">board_content = #{board_content}</if>
    </set>
    where board_id = #{board_id}
  </update>
  
  <delete id="removeBoard">
    delete from board where board_id = #{board_id}
  </delete>
  
</mapper>