<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mub.repository.MemberMapper">
  <insert id="saveMember">
    insert into member(
      member_id,
      member_email,
      nickname,
      password,
      member_name,
      phone,
      birthday,
      position
      
      ) VALUES (
        #{member_id},
        #{member_email},
        #{nickname},
        #{password},
        #{member_name},
        #{phone},
        #{birthday},
        #{position}           
    )
  </insert>
  
  <select id="findMember" resultType="member">
    select * from member where member_id = #{member_id}
  </select>
  
  <update id="updateMember">
    update member
    <set>
      <if test="member_email != null">member_email = #{member_email}</if>
      <if test="nickname != null">nickname = #{nickname}</if>
      <if test="password != null">password = #{password}</if>
      <if test="member_name != null">member_name = #{member_name}</if>
      <if test="phone != null">phone = #{phone}</if>
      <if test="birthday != null">birthday = #{birthday}</if>
      <if test="position != null">position = #{position}</if>
      <if test="profile != null">profile = #{profile}</if>
    </set>
      where member_id = #{member_id}
  </update>
  
  <delete id="deleteMember">
    delete from member where member_id = #{member_id}
  </delete>
  
</mapper>