<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mub.repository.MusicMapper">

	<insert id="uploadMusic">
	   <selectKey keyProperty="music_id" resultType="Long" order="BEFORE">
	     select music_seq.nextval from dual
	   </selectKey>
	   insert into music(
	     music_id,
	     music_name,
	     music_artist_id,
	     music_genre,
	     music_lyrics
	     ) values (
	       #{music_id},
	       #{music_name},
	       #{music_artist_id},
	       #{music_genre},
	       #{music_lyrics}
	     )
  	</insert>
  	
  	<update id="addLike">
      update music set
    	music_like = music_like+1
    	  where music_id = #{music_id}
    </update>
    
    <update id="minusLike">
      update music set
    	music_like = music_like-1
    	  where music_id = #{music_id}
    </update>
	
	<select id="findAllMusics" resultType="music">
	  select 
	     m.music_id,
	     m.music_name,
	     m.music_artist_id,
	     a.artist_name,
	     m.music_genre,
	     m.music_lyrics,
	     m.music_playcount,
	     m.music_like
	  from
	  	music m join artist a
	  	on (m.music_artist_id = a.artist_id)
	  order by
	  	music_id desc
	</select>
	
	<select id="findMusicByMusicId" resultType="music">
	  select
	  	 m.music_id,
	     m.music_name,
	     m.music_artist_id,
	     a.artist_name,
	     m.music_genre,
	     m.music_lyrics,
	     m.music_playcount,
	     m.music_like 
	  from 
	  	music m join artist a
	  	on (m.music_artist_id = a.artist_id)
	  where 
	  	m.music_id = #{music_id}
	</select>
	
	<select id="findMusicByArtistId" resultType="music">
	  select * from music where music_artist_id = #{music_artist_id}
	</select>
	
	<select id="findMusicByGenre" resultType="music">
	  select
	  	m.music_id,
	    m.music_name,
	    m.music_artist_id,
	    a.artist_name,
	    m.music_genre,
	    m.music_lyrics,
	    m.music_playcount,
	    m.music_like 
	  from 
	  	music m join artist a
	  	on (m.music_artist_id = a.artist_id) 
	  where
	  	music_genre = #{music_genre}
	</select>
	
	<select id="findMusicsDescLike" resultType="music">
	  select 
	     m.music_id,
	     m.music_name,
	     m.music_artist_id,
	     a.artist_name,
	     m.music_genre,
	     m.music_lyrics,
	     m.music_playcount,
	     m.music_like
	  from
	  	music m join artist a
	  	on (m.music_artist_id = a.artist_id)
	  order by
	  	music_like desc
	</select>
	
	<select id="searchMusic" resultType="music">
	  select * from music where 
	  <if test="music_id != null">
	  music_id = #{music_id}
	  </if>
	  <if test="music_name != null">
	  or music_name = like '%' || #{music_name} || '%'
	  </if>
	  <if test="music_lyrics != null">
	  or music_lyrics = like '%' || #{music_lyrics} || '%'
	  </if>
	</select>

	
</mapper>